<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
    <title>Une page</title>
    <style>
        .card-article{
            background: #f4f4f4; border: 1px solid #ddd; border-radius: 5px; margin-bottom: 5px; padding: 7px;
        }
    </style>
</head>
<body>

<h1>Greetings Learning Spring Boot 3.0 fans!</h1>
<p>
  In this chapter, we are learning how to make
  a web app using Spring Boot 3.0
</p>

<div th:each="news, index : ${news}" th:if="${index.count < 10 }" >
    <div th:text="${index.count}">index</div>
    <div class="card-article">
        <div><span th:text="${news.id}"> Title </span> <strong th:text="${news.name}"> Title </strong></div>
        <div><span th:text="${news.description}"> Description </span></div>
        <div><span th:text="${#strings.toUpperCase(news.category.name)}"> Description </span></div>

        <div th:if="${news.tags.empty}">
            <strong colspan="2"> No Books Available </strong>
        </div>

        <ul>
            <li th:each="tag : ${news.tags}">
                <span th:text="${tag.id}"></span>. <strong th:text="${tag.name}"> Title </strong>
            </li>
        </ul>
    </div>
</div>

<form action="/new-news" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="description" placeholder="description">

    <select class="form-control" id="dropDownList" name="category">
        <option value="0">select option</option>
        <option th:each="option : ${categories}" th:value="${option.id}" th:text="${option.name}"></option>
    </select>

    <button type="submit">Submit</button>
</form>

</body>
</html>


